variable types

In [1]:
x = 1029
c = 10.29
y = "string"
b = True 
q = None

print(x)
print(y)
print(b)
print(c)
print(q)
print(x + c)

print("type of x is",type(x))

print("type of y is",type(y))

print("type of b is",type(b))

print("type of c is",type(c))

print("type of q is",type(q))

1029
string
True
10.29
None
1039.29
type of x is <class 'int'>
type of y is <class 'str'>
type of b is <class 'bool'>
type of c is <class 'float'>
type of q is <class 'NoneType'>

list things

In [2]:
list1 = [45,5665,2323,[-2,-5,6] ,["apple","banana","cherry"]]

print(list1)

print(list1[0])

print(list1[2])

print(list1[3][2])

[45, 5665, 2323, [-2, -5, 6], ['apple', 'banana', 'cherry']]
45
2323
6

tuple things

In [3]:
tuple1 = (("apple","banana","cherry"), ("orange","mango","pineapple"), ("cherry","apple","banana"))

print(tuple1)

print(tuple1[0])

(('apple', 'banana', 'cherry'), ('orange', 'mango', 'pineapple'), ('cherry', 'apple', 'banana'))
('apple', 'banana', 'cherry')

dict things

In [5]:
dict1 = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "learning": True
}

print(dict1)

print(dict1["brand"])

print(dict1["year"])

print(dict1["learning"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'learning': True}
Ford
1964
True