float formatting (value:width.precision f)

In [6]:
 a = 100/777
 print(a)
 print(f"{a:1.3f}")

0.1287001287001287
0.129

In [7]:
"python {}".format("rules!")

'python rules!'

In [2]:
list1  = ["apple","banana"]
list2 = ["one","two"]
new = list1 + list2 
print(new)

['apple', 'banana', 'one', 'two']

In [3]:
new[0] = "kola"
print(new)

['kola', 'banana', 'one', 'two']

In [4]:
new.append("three")
print(new)

['kola', 'banana', 'one', 'two', 'three']

In [5]:
new.append("four")

In [6]:
print(new)

['kola', 'banana', 'one', 'two', 'three', 'four']

In [ ]:
new.pop()

'four'

In [ ]:
new.pop() # three o remove kore dibe 
print(new)

['kola', 'banana', 'one', 'two']

In [10]:
popped = new.pop()
print(popped)
print(new)

one
['kola', 'banana']

In [11]:
popped = new.pop(0)
print(popped)
print(new)

kola
['banana']

In [12]:
new_list  = ["a","e","b","c"]
num = [4,1,2,3,5]

new_list.sort()

In [13]:
print(new_list)

['a', 'b', 'c', 'e']

In [14]:
num.sort()

In [15]:
print(num)

[1, 2, 3, 4, 5]

In [16]:
num.reverse()

In [17]:
print(num)

[5, 4, 3, 2, 1]

In [22]:
list3 = [1,2,3,[3.0,2.0]]
print(list3[3][1])

2.0